input {
   margin: 2px;

    &.ng-invalid.ng-touched{
        border:2px solid red;
    }
    &.ng-valid.ng-touched{
        border:2px solid yellowgreen;
    }
}
small{
    color: red;
}
.user{
    background-color:rgb(255, 230, 183);
    margin: 2px;
    padding: 2px;
    border:2px solid goldenrod; 
}
.order{
    background-color:rgb(197, 233, 255);
    margin: 2px;
    padding: 2px;
    border:2px solid grey;
}